* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.one{
  width: 100%;
  height: 10vh;
  background-color: #dcdcdc;
}
.two{
  width: 95%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.top{
  width: 100%;
  height: 90%;
  display: flex;
  gap: 20px;
}
.left{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.first{
  width: 100%;
  height: 25%;
  background-color: #dcdcdc;
}
.second{
  width: 100%;
  height: 65%;
  background-color: #dcdcdc;
}
.last{
  width: 15%;
  height: 10%;
  background-color: #dcdcdc;
  margin-bottom: 15px;
}
.right{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.right .top{
  height: 45%;
  width: 100%;
  background-color: #dcdcdc;
}
.right .bottom{
  height: 20%;
  width: 100%;
  background-color: #dcdcdc;
}
.bottom{
  width: 100%;
  height: 15%;
  background-color: #dcdcdc;
}